!!!
%html
  %head
    %title Расписание УГАТУ
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': ''
    %meta{:name => :"viewport", :content => :"width=device-width, initial-scale=1, shrink-to-fit=no"}
    %body
      = flash[:error]&.html_safe
      = flash[:notice]&.html_safe
      = flash[:alert]&.html_safe
      = yield